.u-section-1 .u-sheet-1 {
  min-height: 540px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 369px;
  height: auto;
  width: 351px;
  margin: 171px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    width: 377px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
}